* {
  /*margin: 1%;*/
  /*border-width: thin;
  border-color: rgb(0, 0, 0);
  border-style: dashed;*/
}

.rightarea {
  float: left;
}

.bottom {
  margin-bottom: 0%;
}

html {cursor: url('img/leaf.png'), default;}
